<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 <!-- 配置数据源 -->
 <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/party"/>
        <property name="user" value="root"/>
        <property name="password" value=""/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
 </bean>
 <!-- 配置hibernate的sessionFactory实例 -->
 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="mappingResources">
            <list>
                <value>hibernate.cfg.xml</value>
            </list>
        </property>
        <!-- 配置hibernate的相关属性 -->
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.HSQLDialect
            </value>
        </property>
 </bean>
 <!-- struts2的action配置 -->
 <bean id="loginAction" class="com.weitie.login.action.LoginAction" >
 	
 </bean>
 

   
</beans>